@font-face {
  font-family: 'Comic Sans';
  src: url(ComicSansMS.ttf) format('truetype'); 
}
@font-face {
  font-family: 'Comic Sans Bold';
  src: url(ComicSansMSBold.ttf) format('truetype'); 
}
@font-face {
  font-family: 'Comic Sans Italic';
  src: url(ComicSansMSItalic.ttf) format('truetype'); 
}
@font-face {
  font-family: 'Comic Sans Bold Italic';
  src: url(ComicSansMSBoldItalic.ttf) format('truetype'); 
}

body {
  font-family: 'Comic Sans', arial;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

a:hover {
  text-decoration: none;
}

input {
	outline: none;
  border: none;
  background: none;
}

button {
	outline: none !important;
	border: none;
}

button:hover {
	cursor: pointer;
}

/*-----Header-----*/

header {
  background-image: url(../img/bg_png/bg-main.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

header img {
  width: 100%;
  position: relative;
  top: -110px;
  right: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 150px;
}

.nav ul li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-right: 40px;
}

.nav ul li a:hover {
  border-bottom: 2px solid #fff;
}

.navbar-toggler {
  display: none;
}

h2 {
  color: #272f2f;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.contacts_form {
  margin-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap_input {
  border-bottom: 2px solid #32cfb6;
  font-size: 16px;
  margin-bottom: 36px;
}

.wrap_input p {
  text-transform: uppercase;
  color: #1db8a4;
  font-size: 14px;
}

.contact_form_btn {
  margin: 14px 0;
}

.wrap_input input {
  /* width: 250px; */
}

.btn_sent {
  width: 242px;
  height: 60px;
  background: linear-gradient(#fb6a4e, #ff606a);
  border-radius: 5%;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  z-index: 999;
}

.main_page .btn_sent:hover{
  border: 1px solid #fb6a4e;
  color: #fb6a4e;
  background: #fff;
}


/*-----Validate Form-----*/
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fb6a4e;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  color: #fff;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "!";
  display: block;
  position: absolute;
  color: #fb6a4e;
  font-size: 20px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/*-----Block Requirement-----*/
#requirement h2 {
  margin: 88px 0;
}

.requirements {
  margin-bottom: 96px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #272f2f;
}

.requirements_item {
    display: flex;
    height: 290px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1px 9px 2px grey;
    border-radius: 10px;
    margin: 8px;
}

.requirements_item img {
  padding-top: 20px;
}

.requirements_item p {
    margin: 30px 14px 10px 10px;
    font-size: 14px;
}

.bg-left {
  position: relative;
}

.bg-left:before  {
  content:'';
  position:absolute;
  width: 100%;
  height: 500px;
  background: url(../img/bg_png/right.png);
  background-repeat: no-repeat;
  left:0;
  top:0;
}

/*-----Block Help----*/
#help {
  background-color: #1ea992;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#help img {
  width: 100%;
} 

#help h2 {
  color: #fff;
  position: absolute;
  padding-top: 24px;
  margin-top: 24px;
  margin-bottom: 92px;
  left: 50%;
}

#help ul li {
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 100px;
  margin-right: 200px;
}

#help ul li:nth-child(2n) {
  padding-left: 50px;
}

#help ul li .text {
  font-size: 14px;
  font-weight: bold;
}

#help ul li .numbers {
  font-size: 60px;
  margin-right: 46px;
  line-height: 46px;
}

.help_bg {
  width: 50%;
}

.help_text {
  width: 50%;
  margin-top: 160px;
}

/*-----Block Offer-----*/
#offer {
  background-image: url(../img/bg_png/left2.png);
  background-position: center right;
  background-repeat: no-repeat;
}

.offers {
  margin-bottom: 60px;
  padding-top: 60px;
}

#offer h2 {
  margin-top: 80px;
  margin-bottom: 68px;
}

.offers_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 50px;
}

.offers_item p {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  color: #272f2f;
  font-weight: bold;
}

.offers_item_image {
  width: 100%;
  height: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers_item_image .image_after {
  display: none;
  position: absolute;
  top: 0;
  z-index: 99;
}

.offers_item_image:hover .image_before {
  display: none;
  transition: all 0.3s;
}

.offers_item_image:hover .image_after {
  display: flex;
  cursor: pointer;
  transition: all 0.3s easy;
} 

/*-----Footer-----*/
footer {
  background-image: url(../img/bg_png/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

footer h2 {
  padding-top: 150px;
  margin-bottom: 130px;
  color: #fff;
}

footer h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
}

footer .wrap-contact-data h3 {
  margin-bottom: 72px;
}

.wrap-contact {
  margin-bottom: 134px;
}

.btn_sent:hover {
  color: #fb6a4e;
  background: #fff;
}

.adress, .telephone {
  text-transform: uppercase;
  margin-bottom: 26px;
}

.wrap-contact-data div>a {
  color: #fff;
}

.social {
  margin-top: 84px;
}

.social_icon {
  display: inline-block;
  margin-right: 50px;
  padding: 0 5px;
}

.social_icon_after {
  display: none;
}

.social_icon:hover .social_icon_before {
  display: none;
}

.social_icon:hover .social_icon_after {
  display: inline-block;
  cursor: pointer;
} 

/*-----Map----*/
#map {
  width: 100%;
  height: 656px;
}
/*-----Copyright----*/
.copyright p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-transform: uppercase;
  padding: 36px 0 30px 0;
}

/*-----Responsive-----*/

@media (max-width: 1366px) {
  .help_text {
    width: 50%;
    margin-top: 140px;
  }
  #help ul li {
    margin-bottom: 36px;
    margin-right: 40px;
  }
}

@media (max-width: 1199px){
  .requirements_item p {
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  header {
    height: auto;
  }
  header img {
    top: -80px;
  }
  .navbar-toggler {
    display: block;
    margin-bottom: 20px;
    margin-top: 42px;
    z-index: 999;
  }
  .nav ul {
    margin-bottom: 70px;
    align-items: flex-end;
    margin-top: 0;
  }
  #help h2 {
    padding: 0;
    margin-bottom: 0;
  }
  .help_text {
    margin-top: 100px;
  }
  .nav ul li a {
    margin-right: 18px;
  }
  #help ul li {
    margin-bottom: 20px;
  }
  #help ul li .numbers {
    font-size: 40px;
  }
  #help ul li .text {
    font-size: 12px;
  }
  .requirements_item img {
    width: 100%;
  } 
  .social_icon {
    margin-right: 20px;
  }
}

@media (max-width: 968px) {
  .nav ul li a {
    margin-right: 12px;
    font-size: 12px;
  }
  #help h2 {
    padding: 0;
    margin-bottom: 0;
  }
  .help_text {
    margin-top: 100px;
  }
  #help ul li {
    margin-bottom: 10px;
  }
  #help ul li {
    margin-right: 24px;
  }
  #help ul li .numbers {
    font-size: 24px;
  }
  .help_text {
    margin-top: 70px;
  }
  .social {
    display: flex;
    justify-content: center;
  }
  .btn_sent{
    width: 150px;
    height: 60px;
  }
}

@media (max-width: 840px){
  #help ul li .text {
    font-size: 10px;
  }
}

@media (max-width: 767.98px){
  .wrap_input input {
    width: 250px;
  }
	.bg-left {
	display:none;}	
  .requirements_item {
    width: 300px;
  }
  .requirements_item img {
    width: auto;
  }
  .navigation {
    display: flex;
    justify-content: flex-end;
  }
  .main_page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  h2 {
    font-size: 24px;
  }
  .contact_form_btn {
    margin: 0;
  }
  
  .contacts_form {
    margin-top: 30px;
  }
  header img {
    width: 60%;
    top: -50px;
    left: 25%;
  }
  .help_text ul {
    padding: 0;
  }
  .help_text ul li {
    margin-bottom: 4px;
    margin-right: 18px;
  }
  #offer h2 {
    margin-bottom: 10px;
  }
  .offers {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .offers_item {
    width: 320px;
  }
  footer h2 {
    margin-bottom: 60px;
  }
  .wrap-contact {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrap-contact-data {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer .wrap-contact-data h3 {
    margin-bottom: 26px;
  }
  .social {
    margin-top: 42px;
  }
  .bg-left:before {
    left: 0;
    top: -90px;
  }
}
@media (max-width: 700px){
  .help_bg {
    display: none;
  }
  .help_text {
    width: 100%;
    padding: 0 20px 20px 20px;
  }
  #help ul li:nth-child(2n) {
    padding-left: 0;
  }
  .help_text ul li {
    align-items: center;
  }
}

@media (max-width: 576px){
  .help_bg {
    width: 35%;
  }
  h2 {
    font-size: 20px;
  }
  #help ul li .numbers {
    font-size: 16px;
  }
}
