body {
 font-family: 'Righteous', cursive;
}
body, h1, h2, h3, h4, h5, h6, a, ul, li, p, nav, button {
  padding: 0;
  margin: 0;
  border: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.full-window-height {
  height: calc(100vh - 60px);
}
.video-bg {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font: bold 40px sans-serif;
}
.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.filter-video {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.item {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #777;
  font-size: 20px;
  color: gray;
}
.item:hover {
  cursor: pointer;
  color: black;
  transition: all 400ms;
}

.content {
    color: #fff;
    font-size: 30px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.content a {
    height: 300px;
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.content a div {
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 1s;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content a:hover div{
  cursor: pointer;
  transition-duration: 1s;
  z-index: 1;
}
.content a img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  transform: scale(1);
  transition-duration: 1s; 
}
.content a:hover img{
  cursor: pointer;
  transform: scale(1.5);
  transition-duration: 1s; 
}
.content div.red {
    background: rgb(231, 76, 60);
}
.content div.red:hover {
  background-color: rgba(231, 76, 60, 0.5);
}
.content div.green {
    background: rgb(46, 204, 113);
}
.content div.green:hover {
  background: rgba(46, 204, 113, 0.5);
}
.content div.blue {
    background: rgb(0, 151, 230);
}
.content div.blue:hover {
  background: rgba(0, 151, 230, 0.5);
}
.content div.black {
    background: rgb(45, 52, 54);
}
.content div.black:hover {
  background: rgba(45, 52, 54, 0.5);
}
.content div.pink {
    background: rgb(232, 67, 147);
}
.content div.pink:hover {
  background: rgba(232, 67, 147, 0.5);
}
.content div.yellow {
    background: rgb(241, 196, 15);
}
.content div.yellow:hover {
  background: rgba(241, 196, 15, 0.5);
}
.content div.lightblue {
    background: rgb(52, 152, 219);
}
.content div.lightblue:hover {
  background: rgba(52, 152, 218, 0.5);
}
.content div.gray {
  background: rgb(206, 214, 224);
}
.content div.gray:hover {
  background: rgba(206, 214, 224, 0.5);
}
.content div.purple {
  background: rgb(179, 55, 113);
}
.content div.purple:hover {
  background: rgba(179, 55, 113, 0.5);
}
.content div.brown {
  background: rgb(255, 121, 63);
}
.content div.brown:hover {
  background: rgba(255, 121, 63, 0.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.modal-content {
    background-color: #fefefe;
    height: 100%;
}
.close {
    color: #03a9f5;
    float: left;
    font-size: 150px;
    padding: 0 50px;
    font-weight: bold;
    margin-top: 200px;
}
.close:hover,
.close:focus {
    color: #1976d3;
    text-decoration: none;
    cursor: pointer;
}

.fixed-header{
  position: fixed;
  top:0;
  z-index: 2;
  background: white;
  width: 100%;
}
.content-video.activefix{
  margin-top: 60px;
}