body {
    background-color: #000;
}
a {
    text-decoration: none;
}
header {
    display: flex;
}
.logo {
    width: 80%;
}
.logo_text {
    color: #fff;
    font-family: 'Sniglet', cursive;
    font-size: 30px;
}
.link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 20%;
}
.link a {
    color: #000;
    font-size: 14px;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link a:hover {
    background: #000;
    color: #fff;
}
.link__list {
    display: flex;
    justify-content: space-between;
}
.block-portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block-portfolio__link {
    width: 33%;
    border: 1px solid #fff;
    margin-bottom: 10px;
}
img {
    width: 100%;
    height: 100%;
}