/* 1369 - 1920 px */
@media (min-width: 1369px) and (max-width: 1920px) {
    
    .contact {
        padding-left: 15px;
    }
    .logo {
        padding-left: 15px;
    }
    .main_menu {
        padding-right: 10px;
    }
}

/* 961 - 1368 px */
@media (min-width: 961px) and (max-width: 1368px) {

    h1 {
        font-size: 48px;
    }
    .scroll-down {
        display: none;
    }
    .price_card {
        width: 288px;
    }
    .latest_news a {
        left: 220px;
    }
}

/* 769 - 960 px */
@media screen and (max-width: 960px) {
    header {
        position: inherit;
    }
    .title_padding {
        margin: 0;
    }
    .header_social {
        flex-direction: column;
        align-items: center;
    }
    .main_menu {
        width: 100%;
        justify-content: center;
    }
    h1 {
        font-size: 35px;
        padding-top: 150px;
    }
    h2 {
        font-size: 14px;
    }
    .service_description {
        width: 330px;
    }
    .price_card {
        width: 210px;
    }
    .latest_news a {
        left: 180px;
    }
    .newsletter form > input[type="email"] {
        width: 630px;
    }
    .newsletter i.zmdi-email {
        margin-right: 630px;
    }
}

/* 481 - 768 px */
@media screen and (max-width: 768px) {
    
    .header_contacts {
        justify-content: center;
        align-items: center;
    }
    .contact {
        width: auto;
        padding: 10px 4px;
    }
    .logo {
        width: auto;
    }
    .main_menu {
        display: none;
    }
    .burger {
        display: block;
    }    
    .main_menu a {
        font-size: 12px;
        padding: 42px 5px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 12px;
        margin-top: 30px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 14px;
    }
    .service {
        flex-wrap: wrap;
    }
    .service_description {
        width: 238px;
        margin-bottom: 0;
    }
    .service div {
        height: 140px;
    }
    .about_services {
        margin: 0;
    }
    .filter {
        flex-direction: column;
    }
    .con {
        width: 45%;
    }
    .works {
        justify-content: center;    
    }
    .works .button {
        display: none;
    }
    .facts {
        justify-content: space-around;
        flex-flow: wrap;
        padding: 10px;
    }
    .fact_name i {
        margin-right: 0;
        font-size: 28px;
        color: #ef5350;
    }
    .fact_name span {
        font-size: 18px;
        font-weight: bold;
    }
    .fact_name p {
        font-size: 14px;
    }
    .fact_name {
        margin: 10px 0;
    }
    .prices {
        flex-direction: column;
        margin-top: 0;
    }
    .latest_news a {
        left: 86px;
    }
    .posts {
        justify-content: center;
        flex-direction: column;
        margin-bottom: 0;
    }
    .newsletter form > input[type="email"] {
        width: 300px;
    }    
    .newsletter i.zmdi-email {
        margin-right: 300px;
    }
}

@media screen and (max-width: 688px) {
    .header_contacts {
        flex-direction: column;
    }
    .social {
        justify-content: center;
    }
}

/* 320 - 480 px */
@media screen and (max-width: 480px) {
    
    .contact a {
        margin-right: 5px;
    }
    .social a{
        margin: 8px 4px;    
    }
    .main_menu {
        display: none;
    }
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 10px;
    }
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 10px;
    } 
    .title_padding .button {
        width: 130px;
        padding: 14px 0;
        font-size: 12px;
        margin-bottom: 80px;
    }
    .mediaplayer {
        height: 300px;
    }
    .con {
        width: 100%;
    }
    .footer_content p {
        font-size: 10px;
    }
    .newsletter form > input[type="email"] {
        width: 200px;
    }
    .newsletter i.zmdi-email {
        margin-right: 204px;
    }
}