/* 1601 - 1920 px */
@media screen and (max-width: 1920px) {

}

/* 1369 - 1600 px */
@media screen and (max-width: 1600px) {
    .contact {
        padding-left: 15px;
    }
    .logo {
        padding-left: 15px;
    }
    .main_menu {
        padding-right: 10px;
    }
}

/* 961 - 1368 px */
@media screen and (max-width: 1368px) {

}

/* 769 - 960 px */
@media screen and (max-width: 960px) {

}

/* 481 - 768 px */
@media screen and (max-width: 768px) {
    
}

/* 320 - 480 px */
@media screen and (max-width: 480px) {
    
}