body, h1, h2, h3, h4, h5, h6, a, ul, li, p, nav, button {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
html, body {
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.main_container {
    width: 1230px;
    margin: 0 auto;
    max-width: 1920px;
}
/*------HEADER------*/
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.heading {
    max-width: 1720px;
    margin: 0 auto;
}
/*-----MINIBAR-----*/
.minibar {
    background: #1976d2;
    overflow: hidden;
}
.header_contacts {
    display: flex;
}
.contact {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    color: #fff;
    padding: 26px 4px;
}
.contact a {
    color: #fff;
    padding: 0 6px;
    margin-right: 20px;
}
.social {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.social a {
    border-radius: 50%;
    margin: 20px 8px;
    color: #1976d2;
    font-size: 14px;
    background: #fff;
    width: 26px;
    height: 26px;
    padding: 6px;
    text-align: center;
    box-sizing: border-box;
}
.social a:hover {
    background: #f95d5a;
    color: #fff;
}
/*-----MENU-----*/
.menu {
    background: #fff;
    overflow: hidden;
}
.header_social {
    display: flex;
}
/*-----LOGO-----*/
.logo {
    margin: 22px 0;
    width: 50%;
}
.main_menu {
    width: 50%;
    justify-content: space-between;
    display: flex;
}
.main_menu a {
    color: #333333;
    font-family: 'Roboto Medium', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    padding: 40px 12px;
    box-sizing: border-box;
    border-bottom: 3px solid #fff;   
}
.main_menu a:hover {
    color: #f95d5a;
    border-bottom: 3px solid #f95d5a;
}
.main_menu i {
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    background: #1976d2;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-left: 24px;
    margin-top: 30px;
    padding-top: 10px;
    box-sizing: border-box;
}
nav i:hover {
    color: #fff;
    background: #f95d5a;
    cursor: pointer;
}
/*-----MAIN TITLES-----*/
.main_title {
    background-image: url(../image/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title_padding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
}
h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 56px;
    font-family: Roboto Bold, sans-serif;
    padding-top: 250px;
    box-sizing: border-box;
}
h1 span {
    color: #03a9f4;
}
h2 {
    margin-top: 44px;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
}
.button {
    background: #2095f2;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 190px;
    padding: 25px 0;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 70px;
    margin-bottom: 180px;
}
.button i {
    margin-left: 12px;
    font-weight: bold;
}
/*-----SCROLLER MOUSE------*/
.scroll-down {
    margin: 0 auto;
    width: 25px;
    display: block;
    padding-bottom: 40px;
}
.mouse {
    padding: 5px 10px 20px 10px;
    width: 2px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 25px;
    box-sizing: content-box;
}
.scroller {
    height: 10px;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.5s;   /*time of the animation*/
    animation-timing-function: cubic-bezier(0.42,0,0.58,1); /*speed of anomation*/ 
    animation-iteration-count: infinite;    /* the animation infinite times*/
}
.scroll-down:hover .mouse, .scroll-down:hover .mouse .scroller {
    border: 1px solid #2095f2;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
/*-----SERVICES-----*/
.services {
    color: #fff;    
    background: linear-gradient(to right, #1976d3, #03a9f5);
    overflow: hidden;
}
.service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.service div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 205px;
    height: 198px;
    background: #1976d3;
    box-sizing: border-box;
}
.service div:nth-child(2n){
    background: #03a9f5;
}
.service p {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
}
/*-----ABOUT SERVICES-----*/
.about_services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 66px 0;
}
.service_description {
    display: flex;
    width: 408px;
    box-sizing: border-box;
    margin-top: 34px;
    margin-bottom: 34px;
}
.service_image i {
    color: #fff;
    border-radius: 50%;
    background: red;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 12px;
    box-sizing: border-box;
    margin: 0 12px 74px 12px;
}
.service_name h5 {
    box-sizing: border-box;
    padding: 12px 0;
    font-size: 18px;
    font-family: 'Roboto Bold', sans-serif;
    text-transform: uppercase;
}
.service_name p {  
    padding-top: 2px;
    font-size: 14px;
    line-height: 24px;
    color: #777;
}
/*-----WEB PLAYER-----*/
.mediaplayer {
    background-image: url(../image/bg_player.jpg);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 526px;
 }
 .mediaplayer button {
    border-radius: 50%;
    width: 126px;
    height: 126px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
 }
 .mediaplayer button:hover {
    color: #f95d5a;
    cursor: pointer;
}
 .mediaplayer i {
    border-radius: 50%;
    box-sizing: border-box;
    width: 88px;
    height: 88px;
    background: #fff;
    padding: 20px 36px;
 }
 .center_button {
    padding: 200px 552px;
    box-sizing: border-box;
}
/*-----PORTFOLIO-----*/
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}
h3 {
    text-transform: uppercase;
    font-size: 34px;
    font-family: 'Roboto Bold', sans-serif;
    padding-bottom: 24px;
    box-sizing: border-box;
    margin-top: 120px;
}
h4 {
    font-size: 16px;
    margin-bottom: 18px;
    color: #727272;
    font-weight: normal;
}
h4.white {
    color: #fff;
}
hr {
    border: none;
    background-color: #03a9f4;
    height: 2px;
    width: 50px;
}
/*-----FILTER-----*/
.filter {
    display: flex;
    justify-content: center;
}
.btn {
    border: none;
    outline: none;
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #1f1f1f;
    padding: 14px 32px;
    background-color: #fff;
    cursor: pointer;
}
.btn.active {
    background-color: #03a9f4;
    color: white;
    border-radius: 3px;
}
/*-----WORKS-----*/
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}  
.works img {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    border: 6px solid #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.con {
    position: relative;
    width: 33%;
}
.con:hover .overlay {
    opacity: 0.9;
    cursor: pointer;
}
.overlay {
    position: absolute;
    display: flex;
    top: 30px;
    height: 89%;
    width: 97%;
    border: 6px solid #fff;
    opacity: 0;
    /* transition: .5s ease; */
    background-color: #008CBA;
} 
.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 22px;
}
.text p {
    font-size: 14px;
    margin-top: 12px;
}
.text a {
    margin: 4px;
    background-color: #fff;
    border-radius: 50%;
    color: #008CBA;
    padding: 8px;
    box-sizing: border-box;
}
.works .button {
    width: 170px;
    margin-top: 60px;
    margin-bottom: 110px;
}
/*-----TEAM-----*/
.team {
    background: #1976d2;
    color: #fff;
}
.team hr {
    background-color: #fff;
}
.slider_team {
    position: inherit;
    padding-bottom: 78px;
}
.slider_team .item {
    border: 1px solid #2095f2;
    background-color: #2095f2;
}
.photo_people {
    border-bottom: 1px solid #03a9f4;
}
.photo_people img {
    width: 50%;
    margin: 60px auto;
    border: 5px solid #03a9f4;
    border-radius: 50%;
}
.photo_people img:hover {
    border-color:#fff;
    cursor: pointer;
    transition: all 0.3s;
}
.name_people p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.name_people hr {
    width: 200px;
    height: 1px;
}
.social_accounts a {
    color: #fff;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}
.social_accounts a:hover {
    color: #ef5350;
    transition: all 0.3s;
}
.name_people span {
    font-size: 14px;
}
.name_people {
    text-align: center;
    color: #fff;
    margin: 66px 80px 30px 80px;
    box-sizing: border-box;    
}
.owl-carousel button.owl-dot {
    border: 10px solid #fff;
}
.owl-carousel button.owl-dot:hover {
    border: 10px solid #03a9f4;
    transition: all 0.3s;
}
.owl-carousel button.owl-dot.active {
    border: 10px solid #03a9f4;
}
.owl-dots {
    text-align: center;
}
.owl-dots button {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    transition: opacity .2s ease;
    border-radius: 30px;
    color: #03a9f4;
}
/*-----FACT-----*/
.facts {
    display: flex;
    justify-content: space-between;
    padding: 90px 20px;
}
.fact_name {
    text-align: center;
}
.fact_name span {
    font-size: 34px;
    font-weight: bold;
}
.fact_name i {
    margin-right: 16px;
    font-size: 34px;
    color: #ef5350; 
}
.fact_name p {
    font-size: 20px;
    margin-top: 24px;
}
/*-----REVIEWS-----*/
.reviews {
    background: #1976d2;
    color: #fff;
}
.reviews hr {
    background: #fff;
}
/*----LOGO-CLIENTS-----*/
.logo_clients {
    background-color: #e1e0e0;
}
.logo_clients .slider_logo_clients .item {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.logo_clients .owl-item .item img {
    padding: 5px;
    width: 134px;
    height: 110px;
    margin: 0 auto;
    box-sizing: border-box;
}
.logo_clients {
    position: sticky;
}
.slider_logo_clients .owl-nav i {
    font-size: 18px;
    width: 20px;
    height: 20px;
    background-color: #2095f2;
    color: #fff;
    border-radius: 50%;
    padding-top: 2px;
    margin: 0;
    box-sizing: border-box;
    position: absolute;
    top: 35%;
}
.slider_logo_clients .owl-nav .owl-prev i {
    left: 0;
    padding-right: 2px;
}
.slider_logo_clients .owl-nav .owl-next i {
    right: 0;
    padding-left: 2px;
}
.slider_logo_clients .owl-nav i:hover {
    background-color: #ef5350;
    transition: all 0.3s;
}
/*-----PRICE-----*/
.prices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 60px;
}
.price_card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 552px;
    width: 358px;
    padding-top: 50px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}
.price_card:nth-child(2) {
    zoom: 1.1;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
.price_card .btn:hover {
    background-color: #ef5350;
    cursor: pointer;
    transition: all 0.3s;
}
.price_card h5 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold;
    line-height: 50px;
}
.price_card h6 {
    font-size: 14px;
    color: #727272;
    font-weight: normal;
}
.price_card p.price {
    font-size: 24px;
    font-weight: bold;
    color: #2095f2;
}
.price_card span {
    font-size: 14px;
}
.price_card p {
    font-size: 14px;
    color: #727272;
    text-transform: uppercase;
    margin-top: 36px;
    box-sizing: border-box;
}
.price_card .btn {
    font-size: 14px;
    font-family: 'Roboto Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    background-color: #2095f2;
    cursor: pointer;
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin: 34px 0;
}
/*-----NEWS-----*/
.posts {
    display: flex;
    margin-top: 68px;
    margin-bottom: 152px;
}
.latest_news {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin-right: 30px;
}
.latest_news img {
    width: 100%;
}
.latest_news a {
    background-color: #2095f2;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    top: -16px;
    left: 321px;
    box-sizing: border-box;
}
.latest_news a:hover {
    background-color: #ef5350;
    transition: all 0.3s;
}
.latest_news h6 {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 10px;
}
.latest_news p {
    margin-left: 20px;
    margin-bottom: 32px;
    color: #777;
    font-family: 'Roboto Light',sans-serif;
    font-size: 12px
}
.latest_news article {
    margin: 28px 22px;
    line-height: 30px;
    color: #777;
}
/*-----NEWSLETTER------*/
.newsletter {
    background-color: #f5f5f5;
}
.newsletter form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    position: sticky;
}
.newsletter form > input[type="email"] {
    width: 768px;
    height: 20px;
    color: #a7a7a7;
    border: none;
    border-bottom: 1px solid #03a9f4;
    background-color: inherit;
}    
.newsletter i.zmdi {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: 764px;
  margin-bottom: -26px;
  position: relative;
  z-index: 1;
  color: #a7a7a7;
}
i.zmdi + input[type="email"] {
  padding-left: 12px;
}
.newsletter form > input[type="submit"] {
    width: 170px;
    height: 50px;
    color: #fff;
    border: none;
    background-color: #03a9f4;
    border-radius: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 68px;
    margin-bottom: 118px;
} 
.newsletter form > i.zmdi-cloud-done {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: -106px;
  position: relative;
  top: 80px;
  z-index: 1;
  color: #fff;
}
/*-----FOOTER-----*/
footer {
    background: #1976d2;
    overflow: hidden;
}
.footer_content {  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer_content p {
    color: #fff;
    margin-top: 70px;
    margin-bottom: 32px;
}
.social_footer {
    display: flex;
    margin-bottom: 68px;
}
.social_footer a {
    border-radius: 50%;
    margin: 0 8px;
    color: #1976d2;
    font-size: 14px;
    background: #fff;
    width: 26px;
    height: 26px;
    padding: 6px;
    text-align: center;
    box-sizing: border-box;
}
.social_footer a:hover {
    background: #f95d5a;
    color: #fff;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .logo{
        width: 20%;
        padding-left: 10px;
    }
    .main_menu li a {
        padding: 44px 8px;
    }
    .main_menu i {
        margin-top: 34px;
        margin-left: 10px;
    }
}