body, h1, h2, h3, h4, h5, h6, a, ul, li, p, nav, button {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
header {
    background-image: url(../images/bg-header.jpg);
    background-color: #4a494a;
    background-size: cover;
    overflow: hidden;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    .main_container {
        width: 1170px;
        .header {
            display: flex;
            border-bottom: 1px solid #4a494a;
            padding-top: 46px;
            padding-bottom: 40px;
            .logo {
                width: 50%;
            }
            .burger {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 50%;
                a {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-decoration: none;
                    margin-right: 42px;
                    padding-bottom: 12px;
                    &:hover {
                        color: #1dde85;
                        border-bottom: 1px solid #1dde85;
                    }
                }
                label {
                    display: none;
                }
                #toggle {
                    display: none;
                }
            }
        }
        .main_title {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 260px 0;
            h1 {
                font-size: 48px;
                span {
                    text-transform: uppercase;
                    color: #1dde85;
                }
            }
            h2 {
                font-size: 18px;
                margin-top: 20px;
                text-align: center;
            }
        }
    }  
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
    .main_container{
        width: 1170px;
        .services{
            display: flex;
            align-items: center;
            flex-direction: column;
            h3 {
                margin-top: 130px;
                font-size: 30px;
                color: #000;
                text-align: center;
                margin-bottom: 54px;
            }
            h3 span {
                color: #1dde85;
            }
            h4 {
                font-size: 18px;
                margin: 44px 0;
                text-align: center;
                padding: 0 100px;
            }
            .about_services {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .service {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 345px;
                    margin: 24px 0;
                    border: 1px solid #cac8c5;
                    padding: 32px 8px;
                    color: #454546;
                    &:hover {
                        color: #1dde85;
                        border-color: #1dde85;
                        cursor: pointer;
                    }
                    h5 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 14px;
                        text-align: center;
                        margin-top: 44px;
                        color: #8f8e91;
                    }
                }
            }
        }
        .team {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            .photo_team {
                position: relative;
                display: flex;
                overflow: hidden;
                justify-content: space-between;
                &:hover .overlay{
                    bottom: 0;
                    height: 100%;
                    cursor: pointer;
                }
                &:hover .info_team {
                    display: none;
                }
                .info_team {
                    position: absolute;
                    bottom: 0;
                    color: #fff;
                    background-color: #454546;
                    opacity: 0.9;
                    height: 68px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p {
                        font-size: 18px;
                        margin: 4px;  
                    }
                }
                .overlay {
                    position: absolute;
                    display: flex;
                    bottom: 100%;
                    left: 0;
                    right: 0;
                    background-color: #1dde85;
                    opacity: 0.8;
                    overflow: hidden;
                    height:0;
                    transition: .5s ease;
                    .text {
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        text-align: center;
                        p {
                            font-size: 14px;
                        }
                        h5 {
                            font-size: 18px;
                        }
                        a {
                            color: #fff;
                        }  
                    }
                }
            }
        }
        .portfolio {
            display: flex;
            flex-direction: column;
            align-items: center;
            #filter{
                margin: 48px 0;
                .btn {
                    outline: none;
                    background-color: transparent;
                    cursor: pointer;
                    font-size: 18px;
                    margin: 0 20px;
                    &:hover {
                        border-bottom: 1px solid #1dde85;
                        color: #1dde85;
                    }
                &-active {
                    border-bottom: 1px solid #1dde85;
                    color: #1dde85;
                    outline: none;
                }
                }
                
            }
            .works {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .work {
                    display: none; /* Hide all elements by default */
                    margin-bottom: 48px;
                    img {
                        width: 100%;
                    }
                }
                .show {
                    display: block;
                }
            }
            a.button {
                background-color: #1dde85;
                text-decoration: none;
                color: white;
                padding: 16px 60px;
                font-size: 18px;
                &:hover {
                    background-color: #a7a6a2;
                }
            }
        }
        .price {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            /*color: #a7a6a2;*/
            font-size: 14px;
            .prices {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                margin: 12px 0;
                .price_card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    box-sizing: border-box;
                    color: #a7a6a2;
                    padding-bottom: 20px;
                    &:hover {
                        outline: 1px solid #1dde85;
                        color: #1dde85;
                        cursor: pointer;
                    }
                    &:hover .order {
                        border: 1px solid #1dde85;
                        background-color: #1dde85;
                        cursor: pointer;
                        color: #fff;
                    }
                    &:hover .cost {
                        outline: 1px solid #1dde85;
                        background-color: #1dde85;
                        color: #fff;
                        border-color: #1dde85;
                        cursor: pointer;
                    }
                    &:hover .price_name {
                        color: #1dde85;
                    }
                    p{
                        margin: 11px 0;
                    }
                    .cost {
                        color: #000;
                        font-size: 14px;
                        border: 1px solid #a7a6a2;
                        padding: 20px 100px;
                        span {
                            font-size: 36px;
                            font-weight: bold;
                        }
                    }
                    .order {
                        border: 1px solid #a7a6a2;
                        background-color: transparent;
                        padding: 16px;
                    }
                }
            }
        }
        .message {
            background-image: url(../images/bg-footer.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 8px;
            width: 100%;
            h3 {
                color: #fff;
            }
            form {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0;
                padding: 0;
                color: #fff;
                .inputs {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 894px;
                    margin: 0;
                    color: #fff;
                    input {
                        width: 396px;
                        height: 8px;
                        border: 1px solid #b1b1b1;
                        margin-bottom: 28px;
                        padding: 20px;
                        color: #fff;
                        background-color: transparent;
                        &::placeholder{
                            color: #b1b1b1;
                        }
                    }
                }
                textarea {
                    max-width: 854px;
                    width: 100%;
                    height: 212px;
                    margin: 0;
                    background-color: transparent;
                    padding: 20px;
                    color: #fff;
                    resize: none;
                }
            }
            button {
                width: 196px;
                background-color: #1dde85;
                border: none;
                color: #fff;
                padding: 20px 0;
                font-size: 14px;
                margin: 30px 0;
                &:hover{
                    cursor: pointer;
                    background-color: #b1b1b1;
                }
            }
        }
    }
}
footer {
    background-color: #0b0a0a;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 1168px;
        padding: 40px 0;
        h4 {
            margin-bottom: 20px;
        }
        .about {
            width: 320px;
            h4 {
                margin: 0;
                margin-bottom: 20px;
            }
            p {
                margin: 0;
                padding: 0;
                color: #8f8e91;
            }
        }
        .links {
            width: 248px;
            h4 {
                margin: 0;
                margin-bottom: 20px;
            }
            .link {
                height: 200px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                a {
                    width: 100px;
                    /* height: 50px; */
                    margin: 0;
                    margin-bottom: 20px;
                    /* outline: 1px dotted black; */
                    /* outline-offset: -1px; */
                    text-decoration: none;
                    color: #8f8e91;
                    &:hover {
                        text-decoration: underline;
                        color: #1dde85;
                    }
                }
                &::after {
                    content: "";
                    height: 100%;
                    width: 100%;
                    flex-shrink: 1;
                }
            }
            
        }
        .social_accounts {
            width: 248px;
            .social_icons{
                margin-bottom: 20px;
                padding: 9px 0;
            }
            input {
                width: 230px;
                height: 8px;
                font-size: 14px;
                padding: 14px 8px;
                border: 1px solid #b1b1b1;
                color: #b1b1b1;
                background-color: transparent;
            }
            a {
                width: 38px;
                border: 2px solid #b1b1b1;
                padding: 6px;
                color: #b1b1b1;
                &:hover {
                    color: #1dde85;
                    border-color: #1dde85;
                }
            }
            button {
                background-color: #1dde85;
                border: none;
                color: #fff;
                padding: 12px 16px;
                font-size: 14px;
                margin: 30px 0;
                &:hover{
                  cursor: pointer;
                  background-color: #b1b1b1;
                }
            }
        }
      }
    .copyright {
        color: #fff;
        background-color: #000;
        padding: 30px 0;
        width: 100%;
        text-align: center;
    }
}