body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p,
nav,
button {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
header {
  background-image: url(../images/bg-header.jpg);
  background-color: #4a494a;
  background-size: cover;
  overflow: hidden;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #fff;
}
header .main_container {
  width: 1170px;
}
header .main_container .header {
  display: flex;
  border-bottom: 1px solid #4a494a;
  padding-top: 46px;
  padding-bottom: 40px;
}
header .main_container .header .logo {
  width: 50%;
}
header .main_container .header .burger {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}
header .main_container .header .burger a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  margin-right: 42px;
  padding-bottom: 12px;
}
header .main_container .header .burger a:hover {
  color: #1dde85;
  border-bottom: 1px solid #1dde85;
}
header .main_container .header .burger label {
  display: none;
}
header .main_container .header .burger #toggle {
  display: none;
}
header .main_container .main_title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 260px 0;
}
header .main_container .main_title h1 {
  font-size: 48px;
}
header .main_container .main_title h1 span {
  text-transform: uppercase;
  color: #1dde85;
}
header .main_container .main_title h2 {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  width: 100%;
}
main .main_container {
  width: 1170px;
}
main .main_container .services {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .main_container .services h3 {
  margin-top: 130px;
  font-size: 30px;
  color: #000;
  text-align: center;
  margin-bottom: 54px;
}
main .main_container .services h3 span {
  color: #1dde85;
}
main .main_container .services h4 {
  font-size: 18px;
  margin: 44px 0;
  text-align: center;
  padding: 0 100px;
}
main .main_container .services .about_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .main_container .services .about_services .service {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 345px;
  margin: 24px 0;
  border: 1px solid #cac8c5;
  padding: 32px 8px;
  color: #454546;
}
main .main_container .services .about_services .service:hover {
  color: #1dde85;
  border-color: #1dde85;
  cursor: pointer;
}
main .main_container .services .about_services .service h5 {
  font-size: 24px;
}
main .main_container .services .about_services .service p {
  font-size: 14px;
  text-align: center;
  margin-top: 44px;
  color: #8f8e91;
}
main .main_container .team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main .main_container .team .photo_team {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
main .main_container .team .photo_team:hover .overlay {
  bottom: 0;
  height: 100%;
  cursor: pointer;
}
main .main_container .team .photo_team:hover .info_team {
  display: none;
}
main .main_container .team .photo_team .info_team {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #454546;
  opacity: 0.9;
  height: 68px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main_container .team .photo_team .info_team p {
  font-size: 18px;
  margin: 4px;
}
main .main_container .team .photo_team .overlay {
  position: absolute;
  display: flex;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #1dde85;
  opacity: 0.8;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}
main .main_container .team .photo_team .overlay .text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
main .main_container .team .photo_team .overlay .text p {
  font-size: 14px;
}
main .main_container .team .photo_team .overlay .text h5 {
  font-size: 18px;
}
main .main_container .team .photo_team .overlay .text a {
  color: #fff;
}
main .main_container .portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main_container .portfolio #filter {
  margin: 48px 0;
}
main .main_container .portfolio #filter .btn {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  margin: 0 20px;
}
main .main_container .portfolio #filter .btn:hover {
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
}
main .main_container .portfolio #filter .btn-active {
  border-bottom: 1px solid #1dde85;
  color: #1dde85;
  outline: none;
}
main .main_container .portfolio .works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main .main_container .portfolio .works .work {
  display: none;
  margin-bottom: 48px;
}
main .main_container .portfolio .works .work img {
  width: 100%;
}
main .main_container .portfolio .works .show {
  display: block;
}
main .main_container .portfolio a.button {
  background-color: #1dde85;
  text-decoration: none;
  color: white;
  padding: 16px 60px;
  font-size: 18px;
}
main .main_container .portfolio a.button:hover {
  background-color: #a7a6a2;
}
main .main_container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*color: #a7a6a2;*/
  font-size: 14px;
}
main .main_container .price .prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 12px 0;
}
main .main_container .price .prices .price_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: #a7a6a2;
  padding-bottom: 20px;
}
main .main_container .price .prices .price_card:hover {
  outline: 1px solid #1dde85;
  color: #1dde85;
  cursor: pointer;
}
main .main_container .price .prices .price_card:hover .order {
  border: 1px solid #1dde85;
  background-color: #1dde85;
  cursor: pointer;
  color: #fff;
}
main .main_container .price .prices .price_card:hover .cost {
  outline: 1px solid #1dde85;
  background-color: #1dde85;
  color: #fff;
  border-color: #1dde85;
  cursor: pointer;
}
main .main_container .price .prices .price_card:hover .price_name {
  color: #1dde85;
}
main .main_container .price .prices .price_card p {
  margin: 11px 0;
}
main .main_container .price .prices .price_card .cost {
  color: #000;
  font-size: 14px;
  border: 1px solid #a7a6a2;
  padding: 20px 100px;
}
main .main_container .price .prices .price_card .cost span {
  font-size: 36px;
  font-weight: bold;
}
main .main_container .price .prices .price_card .order {
  border: 1px solid #a7a6a2;
  background-color: transparent;
  padding: 16px;
}
main .main_container .message {
  background-image: url(../images/bg-footer.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  width: 100%;
}
main .main_container .message h3 {
  color: #fff;
}
main .main_container .message form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #fff;
}
main .main_container .message form .inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 894px;
  margin: 0;
  color: #fff;
}
main .main_container .message form .inputs input {
  width: 396px;
  height: 8px;
  border: 1px solid #b1b1b1;
  margin-bottom: 28px;
  padding: 20px;
  color: #fff;
  background-color: transparent;
}
main .main_container .message form .inputs input::placeholder {
  color: #b1b1b1;
}
main .main_container .message form textarea {
  max-width: 854px;
  width: 100%;
  height: 212px;
  margin: 0;
  background-color: transparent;
  padding: 20px;
  color: #fff;
  resize: none;
}
main .main_container .message button {
  width: 196px;
  background-color: #1dde85;
  border: none;
  color: #fff;
  padding: 20px 0;
  font-size: 14px;
  margin: 30px 0;
}
main .main_container .message button:hover {
  cursor: pointer;
  background-color: #b1b1b1;
}
footer {
  background-color: #0b0a0a;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 1168px;
  padding: 40px 0;
}
footer .footer h4 {
  margin-bottom: 20px;
}
footer .footer .about {
  width: 320px;
}
footer .footer .about h4 {
  margin: 0;
  margin-bottom: 20px;
}
footer .footer .about p {
  margin: 0;
  padding: 0;
  color: #8f8e91;
}
footer .footer .links {
  width: 248px;
}
footer .footer .links h4 {
  margin: 0;
  margin-bottom: 20px;
}
footer .footer .links .link {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .footer .links .link a {
  width: 100px;
  /* height: 50px; */
  margin: 0;
  margin-bottom: 20px;
  /* outline: 1px dotted black; */
  /* outline-offset: -1px; */
  text-decoration: none;
  color: #8f8e91;
}
footer .footer .links .link a:hover {
  text-decoration: underline;
  color: #1dde85;
}
footer .footer .links .link::after {
  content: "";
  height: 100%;
  width: 100%;
  flex-shrink: 1;
}
footer .footer .social_accounts {
  width: 248px;
}
footer .footer .social_accounts .social_icons {
  margin-bottom: 20px;
  padding: 9px 0;
}
footer .footer .social_accounts input {
  width: 230px;
  height: 8px;
  font-size: 14px;
  padding: 14px 8px;
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
  background-color: transparent;
}
footer .footer .social_accounts a {
  width: 38px;
  border: 2px solid #b1b1b1;
  padding: 6px;
  color: #b1b1b1;
}
footer .footer .social_accounts a:hover {
  color: #1dde85;
  border-color: #1dde85;
}
footer .footer .social_accounts button {
  background-color: #1dde85;
  border: none;
  color: #fff;
  padding: 12px 16px;
  font-size: 14px;
  margin: 30px 0;
}
footer .footer .social_accounts button:hover {
  cursor: pointer;
  background-color: #b1b1b1;
}
footer .copyright {
  color: #fff;
  background-color: #000;
  padding: 30px 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 968px) and (max-width: 1024px) {
  header .main_container .header {
    padding-left: 40px;
    padding-right: 40px;
  }
  header .main_container .header .logo {
    width: 40%;
  }
  header .main_container .header .burger {
    width: 60%;
  }
  header .main_container .main_title h2 {
    padding: 0 30px;
}